<div class="car-details">
  <div class="row">
    <div class="col-md-6">
      <div class="button-with-icons">
        <button class="btn-with-icons">
          <img src="assets/car-front_rg.svg" alt="Car Front Icon">
          <img src="assets/seat-side_rg.svg" alt="Seat Side Icon">
        </button>
      <div class="car-image">
        
        <img src="assets/car.png" alt="Car Image">
        
        <div class="more-specs-arrow">
          <div class="arrow-up"></div>
          <ul class="more-specs">
            <strong>Acceleration</strong> 0-100 km/h in 7.5 seconds<br>
            <strong>Engine Performance</strong> 135kW<br>
            <strong>Fuel Consumption</strong> 6.31/100km
          </ul>
          <span>More Specifications</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="car-info">
        <h2>BMW 220i Coupe</h2>
        <img src="assets/heart_rg.svg" alt="Heart Icon" class="heart-icon">
        <div class="btn-group" role="group" aria-label="Car Buttons">
          <button type="button" class="btn btn-secondary">New</button>
          <button type="button" class="btn btn-secondary">Petrol</button>
          <button type="button" class="btn btn-secondary">Automatic</button>
        </div>
        <hr>
        <h3>Delivery within 1 week</h3>
        <ul>
          <strong>Per month</strong> R12 457<br>
          <strong>Offer Price</strong> R857 190
        </ul>
        <div class="icons">
          <img src="assets/Quotelist" alt="Email quote">
          <img src="payment-icon.png" alt="Payment options">
        </div>
        <div class="footer">
          <button type="button" class="btn btn-dark">+ Compare</button>
          <button type="button" class="btn btn-primary">View Vehicle</button>
        </div>
      </div>
    </div>
  </div>
</div>
