<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="button-with-icons">
        <button class="btn-with-icons">
          <img src="assets/car-front_rg.svg" alt="Car Front Icon">
          <img src="assets/seat-side_rg.svg" alt="Seat Side Icon">
        </button>
      </div>
      <div class="car-image">
        <img src="assets/car.png" alt="Car Image">
        <div class="more-specs-arrow">
          <div class="arrow-up"></div>
          <div class="more-specs-columns">
            <div class="column">
              <strong>Acceleration:</strong> 0-100 km/h in 7.5 seconds
            </div>
            <div class="column">
              <strong>Engine Performance:</strong> 135kW
            </div>
            <div class="column">
              <strong>Fuel Consumption:</strong> 6.31/100km
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="car-info">
        <h2>BMW 220i <br>Coupe</h2>
        <img src="assets/heart_rg.svg" alt="Heart Icon" class="heart-icon">
        <div class="btn-group" role="group" aria-label="Car Buttons">
          <button type="button" class="btn btn-secondary">New</button>
          <button type="button" class="btn btn-secondary">Petrol</button>
          <button type="button" class="btn btn-secondary">Automatic</button>
        </div>
        <h3>Delivery within 1 week</h3>
        <div class="row">
          <div class="col-sm-5">
            <strong style="padding-right: 10px;">Per month</strong>
          </div>
          <div class="col-sm-7 text-right">
            R12 457
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <strong style="padding-right: 10px;">Offer Price</strong>
          </div>
          <div class="col-sm-7 text-right">
            R857 190
          </div>
        </div>
        
        <div class="icons">
          <img src="assets/Quotelist.svg" alt="Email quote">
          <span>Email quote</span>
          <img src="assets/Quotelist.svg" alt="Payment options">
          <span>Payment options</span>
        </div>
        
        <div class="footer">
          <button type="button" class="btn btn-dark">+ Compare</button>
          <button type="button" class="btn btn-primary">View Vehicle</button>
        </div>
      </div>
    </div>
  </div>
</div>
