.container {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
  }
  
  .car-image {
    width: 50%; 
    order: 1; 
  }
  
  .car-details {
    width: 50%; 
    order: 2; 
  }
  
  .car-image img {
    width: 100%; 
    max-width: 100%; 
  }
  
  .heart-icon {
    float: right;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  .additional-details {
    margin-top: 20px;
  }
  
  .icons img {
    margin-right: 10px;
  }
  
  .footer {
    margin-top: 20px;
    justify-content: center;
  }
  